@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Garda Vetting System</h1>
    <p class="lead">A secure platform for Irish volunteers to store and share Garda vetting information across organisations.</p>
</div>
