@page
@model PrivacyModel
@{
    ViewData["Title"] = "Student Info";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>This application was developed as part of a college project.</p>

<table class="table table-bordered w-50">
    <tr>
        <th>Student Name:</th>
        <td>Ann Marie Dunne</td>
    </tr>
    <tr>
        <th>Student ID:</th>
        <td>L00196623</td>
    </tr>
    <tr>
        <th>Student Email:</th>
        <td>L00196623@atu.ie</td>
    </tr>
    <tr>
        <th>Module:</th>
        <td>Project (2025/26)</td>
    </tr>
    <tr>
        <th>Module Code:</th>
        <td>PROJ_IT805 - LYICSWDB</td>
    </tr>
</table>
