@page
@model GardaVettingSystem.Pages.ApplicantAddresses.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
    <h1>Add Address</h1>
    <h4>Enter your address details below.</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ApplicantAddress.AddressLine" class="control-label"></label>
                <input asp-for="ApplicantAddress.AddressLine" class="form-control" aria-required="true"/>
                <span asp-validation-for="ApplicantAddress.AddressLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicantAddress.Postcode" class="control-label"></label>
                <input asp-for="ApplicantAddress.Postcode" class="form-control" />
                <span asp-validation-for="ApplicantAddress.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicantAddress.Country" class="control-label"></label>
                <input asp-for="ApplicantAddress.Country" class="form-control" />
                <span asp-validation-for="ApplicantAddress.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ApplicantAddress.ResidentFrom" class="control-label"></label>
                <input asp-for="ApplicantAddress.ResidentFrom" class="form-control" aria-required="true"/>
                <span asp-validation-for="ApplicantAddress.ResidentFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicantAddress.ResidentTo" class="control-label"></label>
                <input asp-for="ApplicantAddress.ResidentTo" class="form-control" />
                <span asp-validation-for="ApplicantAddress.ResidentTo" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="bi bi-plus-circle-fill"></i> Add Address
                </button>
                <a asp-page="/Applicants/Details" asp-route-id="@Model.ApplicantNumber" class="btn btn-secondary btn-sm">
                    <i class="bi bi-arrow-left"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
